/* Stylesheet for index.html */

@font-face {
    font-family: myFont;
    src:url(MorrisRomanBlack.ttf);
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body {
    
}

header {
    background-color: #42784d;
    font-family: myFont;
    
}

header h1 {
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    padding: 10px 0 10px;
}

#splash {
    text-align: center;
    
}

.rivendell {
    width: 100%;
    height: 700px;
    border-width: 10px;
    border-color: #42784d;
}

nav {
    color: white;
    text-align: center;
}

nav ul {
}

nav ul li {
    display: inline;
    margin: 100px;
    text-decoration: none;
    font-size: 30px;
}